Source: cm_api
Section: misc
Priority: extra
Maintainer: Cloudera Inc. <https://issues.cloudera.org>
Standards-Version: 3.8.0
Homepage: http://www.cloudera.com
Build-Depends: debhelper (>= 7), ant, python-dev (>=2.4), python-setuptools, make

Package: cm_api
Architecture: any
Build-Depends: debhelper (>= 7), ant, python-dev (>=2.4), python-setuptools, make, gcc, swig, libssl-dev, sed
Description: Cloudera Manager RESTful API clients
 These APIs allow client code to interact with Cloudera Manager.

