export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_build:
	env FULL_VERSION=${CM_API_PATCHED_VERSION} SKIP_ASSEMBLY=yes bash debian/do-component-build
	
override_dh_auto_install:
	bash -x debian/install_cm_api.sh \
	  --build-dir=`pwd`/build/cm_api-${CM_API_PATCHED_VERSION} \
	  --prefix=`pwd`/debian/tmp
